@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

html, body {
    height: 100%;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-image: url("../img/stars_bckgrnd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header {
    font-weight: 100;
    color: #FFF;
    height: 60%;
}

h4 {
    font-size: 20px;
    margin: 0;
}

h3 {
    font-size: 14px;
}

.headtext {
    margin-bottom: 1em;
    font-size: 15px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

.main {
    /*background: rgba(255, 255, 255, 0.85);*/
    background-color: #FFF;
    border-radius: 5px;
    padding: 1em;
}

a {
    font-size: 18px;
    cursor: pointer;
}

a, a:hover, a:focus {
    color: cornflowerblue;
    text-decoration: none;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input {
    text-align: center;
    border: none;
    font-size: 14pt;
    width: 100%;
}

input:focus {
    outline: none;
}

button, .btn, .btn-link:hover, .btn-link:focus {
    text-decoration: none;
    text-align: center;
}

#map {
    width: 100%;
    height: 300px;
}

.validation-error {
    color: #DD0000;
    font-size: 0.9em;
}

.slogan {
    font-size: 18px;
    font-weight: 300;
}

/*For desktop or tablet devices*/
@media (min-width: 768px) {
    header {
        height: 30%;
        margin-top: 5%;
    }

    .headtext {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}