<nav>
    <!--wrap this in a button that call a method that switches views-->
    <svg height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M352 128.4L319.7 96 160 256l159.7 160 32.3-32.4L224.7 256"/></svg>
    <!--<object data="svg/back-arrow.svg" type="image/svg+xml" id="back-arrow">-->
    <!--Your browser does not support SVG-->
    <!--</object>-->
    <div id="test"><h1>Choose Friend</h1></div>
</nav>

This is the already signed-in state. or when a user logs in/signs up
<div class="container">
    <div class="row loggedin">
        <div class="col-md-6 col-md-offset-3">
            <main>
                Set up a notification to let your friend know that you are safely home.

                <!-- Two different 'views' -->
                <!--<div class="btn-group btn-group-vertical">-->
                <!--<button type="submit" class="btn btn-primary">-->
                <!--Find contact from your Phone Book.-->
                <!--</button>-->

                <!--<button type="submit" class="btn btn-primary">-->
                <!--Type in a new number.-->
                <!--</button>-->
                <!--</div>-->

                <!-- Pick from Phone Book-->
                <label for >Find Contact from Phone Book</label>
                <form class="input-group">
                    <input id="phone-inp" type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Type Name" required />

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">
                                Set Reminder
                            </button>
                        </span>
                </form>

                <!-- Type in Phone Number-->
                <form>

                    <div class="form-group">
                        <label for="newNum">New Number</label>
                        <input type="text" id="newNum" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Phone Number" required />
                    </div>

                    <button type="submit" class="btn btn-success">
                        Set Reminder
                    </button>
                </form>

                <!-- Pick from Recents -->
            </main>
        </div>
    </div>
</div>